body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    /* box-sizing: border-box; */
    z-index: 0;
}


/* Create a column layout with Flexbox */

.row {
    display: flex;
}


/* Left column (menu) */

.left {
    flex: 183px;
    /*padding: 1px 4px 100%; */
}

.left h2 {
    padding-left: 8px;
}


/* Right column (page content) */

.right {
    flex: 65%;
    padding: 8px;
}


/* Style the search box */

#mySearch {
    width: 100%;
    font-size: 16px;
    padding: 17px;
    border: 6px solid #ddd;
}


/* Style the navigation menu inside the left column */

#myMenu {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    top: 25px;
}

#menuprincipal {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    /* top: 25px; */
    /* left: 9px; */
    float: left;
}

#myMenu li a {
    text-decoration: none;
    color: blueviolet;
    display: block;
    height: 28px;
    text-transform: uppercase;
    padding-top: 14px;
    padding-left: 18px;
}

#menuprincipal li a {
    text-decoration: none;
    color: black;
    display: block;
    width: 290px;
}

#myMenu li a:hover {
    background-color: #eee;
}

#menuprincipal li a:hover {
    background-color: #eee;
}

.menu-topo {
    align-items: center;
    box-shadow: 0 1px 5px 0 rgba(41, 85, 115, .21);
    display: flex;
    height: 48px;
    /* position: relative; */
    background-color: #fff;
    z-index: 2000;
    /* min-width: 1241px; */
}


/* width */

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}


/* Track */


/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.botao-topo {
    background-color: #fffdfd;
    border: none;
    color: black;
    padding: 10px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: inherit;
    border-radius: 69px;
    margin-top: -1px;
}

.botao-topo:hover {
    background-color: #f1f1f1;
}

#myInput {
    background-image: url('../img/welcome/searchicon.png');
    background-position: 8px 5px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 15px;
    border: 4px solid #ddd;
    margin-top: 7px;
    padding-left: 37px;
    float: left;
    border-radius: 30px;
}

#myUL {
    list-style-type: none;
    margin: 0;
    margin-left: auto;
    margin-top: 49px;
}

#myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px;
    /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    width: 100%;
}

#myUL li a:hover:not(.header) {
    background-color: #eee;
}