.loja-img-logo {
    cursor: cell;
    margin-top: 35px;
    margin-left: 15px;
    
}

.loja-texto-nome {
    margin-left: 75px;
    margin-top: -40px;
    
    text-transform: uppercase;
}

.loja-texto-descricao {
    float: left;
    margin-bottom: 22px;
    width: 100%;
}

.text-info-apps {
    padding-left: 15px;
    padding-right: 15px;
}

.loja-botoes-de-status {
    position: fixed;
    left: 50%;
    transform: translate(110%, 0);
    top: 3px;
   
}


a.lightbox img {
    height: 150px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
    margin: 24px 20px 20px 20px;
    float: left;
}


/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox-target {
    position: absolute;
    top: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .7);
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    overflow: hidden;
    left: 0px;
    z-index: 10;
}


/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightbox-target img {
    margin: auto;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    bottom: 0;
    border: 3px solid;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
    box-sizing: border-box;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    width: 50%;
}


/* Styles the close link, adds the slide down transition */

a.lightbox-close {
    display: block;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border: 3px solid #4343d8;
    background: black;
    color: black;
    text-decoration: none;
    position: absolute;
    margin-top: 10px;
    right: 10px;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    border-radius: 30px;
}


/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:before {
    content: "";
    display: block;
    height: 30px;
    width: 1px;
    background: white;
    position: absolute;
    left: 17px;
    top: 2px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:after {
    content: "";
    display: block;
    height: 30px;
    width: 1px;
    background: white;
    position: absolute;
    left: 17px;
    top: 02px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
    opacity: 1;
    top: 0;
    bottom: 0;
}

.lightbox-target:target img {
    max-height: 100%;
    max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
    top: -1px;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-filter {
    margin-top: -26px;
    position: fixed;
    left: 50%;
    transform: translate(-100%, 0);
}

.dropdown-filter-button {
    left: -26px;
    border-radius: 6px;
    right: auto;
    min-width: auto;
    width: 88px;
    background-color: #000000c7;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0px;
    height: auto;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.item-select {
    font-size: medium;
}

.tema-topo {
    background: var(--bg);
}

.tema-item {
    background-color: rgb(248, 248, 248);
}

.noticias-titulos {
    float: left;
    width: 100%;
}

.noticias-comentarios {
    float: left;
    padding-bottom: 10px;
    width: 98%;
}


/* Slides */

.wtricks-headerbar {
    width: 100%;
    height: 100px;
    background: #FFC402;
    padding-top: 10px;
}

.wtricks-logo {
    width: 286px;
    height: 77px;
    margin: 0 auto;
    display: block;
    text-indent: -9999px;
    background: url('http://cdn.wtricks.com.br/images-theme/logo.png');
}

.wrap {
    width: 100%;
    height: 100vh;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.page-header,
.page-footer {
    width: 100%;
    margin: 20px;
    text-align: center;
    /* Take careful when you use text-align center
         Bacause this affects postion of gallery navigation! I recomend you use it
         inside a container like this. */
}

@media (min-width: 800px) {
    .page-header,
    .page-footer {
        width: 800px;
        padding: 0;
    }
}

.page-header p {
    margin-top: 20px;
    font-size: .8em;
}

.page-footer p {
    color: #ccc;
}

.page-footer a {
    color: #000;
    text-decoration: none;
}


/* Final page style
     !!Below this line, Gallery's code starts!!*/


/* Slideshow container */

.gallery-container {
    margin-top: 10px;
    width: 100%;
    height: auto;
    border-radius: 20px;
}


/* Hide the images by default */

.mySlides {
    display: none;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    width: auto;
    margin-top: -15%;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.prev {
    float: left;
}

.next {
    float: right;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    width: 100%;
    text-align: center;
}

.imgslide {
    width: 100%;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

@media (max-width: 768px) {
    .numbertext {
        top: 15px;
    }
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.box-gallery-info {
    margin-top: -60px;
    float: right;
    margin-right: 6px;
    padding-bottom: 5px;
    padding-right: 8px;
    border-radius: 30px;
    padding-left: 10px;
    border-color: rgb(110, 89, 89);
    border-style: solid;
}

.box-gallery-info-no-img-gallery {
    position: relative;
    margin-top: -240px;
    float: right;
    margin-right: calc(50% - 70px);
    padding-bottom: 5px;
    padding-right: 8px;
    border-radius: 30px;
    padding-left: 10px;
    border-color: rgb(110, 89, 89);
    border-style: solid;
}

.box-gallery-info-comment {
    margin-top: -26px;
    float: left;
    padding-left: 2px;
    border-color: rgb(110, 89, 89);
    border-style: solid;
}

.button-info {
    border: none;
    width: auto;
    height: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 20px;
}

.button-command-install {
    border: none;
    padding: 3px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    background-color: #3a636f;
    color: white;
    margin-left: -27px;
    border-style: solid;
    left: 50%;
    transform: translate(70%, 0);
}

.button-install {
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    background-color: #1c87a8;
    color: white;
    width: auto;
    height: 30px;
    padding-right: 34px;
    left: 50%;
    transform: translate(32%, 0);
    padding-left: 14px;
}

.button-start {
    background-color: #1c87a8;
    color: white;
    width: 118px;
    cursor: pointer;
}

.button-no-start {
    background-color: #1c87a8;
    color: white;
    width: 118px;
}

.button-clear {
    background-color: #cecece;
    color: rgb(26, 22, 22);
    cursor: pointer;
}

.button-reinstall {
    background-color: #96be26;
    color: white;
    width: 30px;
    cursor: pointer;
}

.button-uninstall {
    background-color: #bb2916;
    color: white;
    width: 30px;
    cursor: pointer;
}

.button-undo {
    background-color: #130b0a;
    color: white;
    cursor: pointer;
}

.button-status{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.575);
}

.tema-item-select {
    border-radius: 10px;
}

.paralax-apps-background {
    padding-top: 160px;
    padding-right: 50px;
    padding-left: 50px;
}

.paralax-apps-img {
    position: absolute;
    z-index: -1;
    
}

.alert-info {
    color: #000000;
    background-color: rgba(255, 255, 255, 0);
    width: 400px;
    height: 20px;
    padding-left: 8px;
}

.show-copy-command {
    color: #ffffff;
    background-color: rgb(39, 15, 15);
    width: calc(100% - 5px);
    margin-left: -20px;
    margin-top: 10px;
    padding-left: 5px;
}

.gallery {
    background: #EEE;
}

.gallery-cell {
    background-image: url(https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1578251803/FEM-sidebar-Generic_dipjef.png);
    width: 66%;
    height: 200px;
    margin-right: 10px;
    counter-increment: gallery-cell;
}

#search-terms{
    position: fixed;
    left: 50%;
    transform: translate(4%, 0);
    font-size: 16px;
    padding: 14px;
    padding-left: 30px;
    box-sizing: border-box;
    display: block;
    margin-top: 8px;
    /* width: 209px; */
    border-radius: 7px;
    }

.button-select-filter {
    height: auto;
    width: 100%;
    color: var(--section_text);
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none !important;
    text-align-last: left;
}

