.box-profile-right{
    flex: 0 0  72.1%;
    position: relative;
    padding-right: 0px;
    padding-left: 0px;
    height: 300px;
    background-color: red;
}

.box-profile-left{
    flex: 0 0 28%;
    position: relative;
    padding-right: 0px;
    padding-left: 0px;
    height: 300px;
    background-color: #2d63c7;
}

#User-Profile{
    
    padding-right: 0px;
    padding-left: 0px;
    display: flex;

}

.center-object{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 26%;
    margin-top: 27px;
    border-radius: 46px;
    text-align: center;
}