.tema-item {
    background-color: rgba(49, 53, 61, 0);
}

.tema-topo {
    background-color: rgb(58, 58, 58);
}

#search-terms {
    background-image: url("../img/definitions/searchicon-dark.png");
    background-position: 5px 4px;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.16);
    border: 1px solid rgb(33, 31, 7);
    color: darkgrey;
}

.category-tabs-select {
    color: rgb(204, 211, 189);
}

.tema-modo-texto {
    color: rgb(211, 189, 189);
}

.tema-modo-texto-topo {
    color: rgb(255, 255, 255);
}

.tema-categoria {
    background-color: rgb(31, 26, 26);
}

.queue-card {
    background-color: rgb(41, 18, 18);
    border: 1px solid rgba(4, 5, 6, 0.227);
}

.table-striped tbody>tr:nth-child(2n+1)>td,
.table-striped tbody>tr:nth-child(2n+1)>th {
    background-color: rgb(80, 82, 75);
}

.nav-pills>.active>a,
.nav-pills>.active>a:hover,
.nav-pills>.active>a:focus,
.nav-pills>.active>button,
.nav-pills>.active>button:hover,
.nav-pills>.active>button:focus {
    color: var( --selected_text);
    background-color: rgb(28, 109, 225);
    border-color: rgb(255, 255, 255);
}

.dropdown-menu {
    background-color: rgb(66, 67, 78);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px 0px;
}

.navigation-button.active {
    background-color: rgb(76, 71, 221);
}

#pref-table>tbody>tr>td>button {
    color: rgb(168, 148, 148);
    text-decoration: none;
}

.installed-check {
    color: rgb(98, 175, 116);
    display: block;
    text-align: center;
    margin-top: -5px;
    margin-bottom: 5px;
}

.not-installed-check {
    color: rgb(116, 106, 106);
    display: block;
    text-align: center;
    margin-top: -5px;
    margin-bottom: 5px;
}

.install-check {
    color: rgb(97, 90, 194);
    display: block;
    text-align: center;
    margin-top: -5px;
}

.box-apps-info {
    background-color: rgb(32 27 49 / 0%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-blend-mode: overlay;
}

.button-command-install {
    border-color: rgb(58, 58, 58);
}

.queue-card>.status {
    color: rgb(142, 194, 164);
}

.queue-card>.status>.drop {
    color: rgb(211, 108, 108);
}

.table-hover tbody tr:hover>td,
.table-hover tbody tr:hover>th {
    background-color: rgb(41, 28, 28);
}

.tema-search-name {
    color: rgb(236, 226, 226);
}

::-webkit-scrollbar-track {
    background: rgb(92, 82, 82);
}

::-webkit-scrollbar-thumb {
    background: rgb(211, 211, 211);
}

.dropdown-filter-button {
    background-color: rgba(0, 0, 0, 0.78);
}

.button-select-filter {
    border-color: rgb(142, 160, 147);
    color: rgb(194, 175, 175);
}

header {
    box-shadow: rgb(0, 0, 0) 0px -8px 25px;
    background: rgb(44, 45, 56);
}

.menu {
    color: rgb(169, 183, 210);
}

.material-icons {
    color: rgb(216, 184, 184);
}

aside ul li a {
    color: rgb(205, 189, 189);
}

aside ul li:hover {
    background: rgb(128, 105, 105);
    box-shadow: rgb(31, 24, 24) 0px 0px 77px inset;
}

aside {
    background-color: rgb(66, 66, 68);
}

.category-buttons {
    color: rgb(216, 184, 184);
}

aside ul li.active {
    background-color: rgb(128, 105, 105);
}

.navigation-button-item {
    color: rgb(216, 200, 200);
}

.navigation-button-item.active {
    color: rgb(148, 182, 12);
}

.screenshot-content,
.no-screenshot-content {
    background-color: rgb(44, 39, 63);
    transition: 0.6s ease;
}

.loja-texto-descricao {
    background-color: rgb(32 27 49);
}

.box-apps-info-box {
    background-color: #000000bf;
}

.no-screenshots-info {
    color: rgb(178, 198, 224);
}

.parental-rating-content {
    background-color: #b9c2cc2b;
}

.parental-rating-text-description {
    color: white;
}

.parental-rating-text-title {
    color: white;
}

.imagem-app-background {
    background-color: rgb(43, 39, 54);
}

.app-entry {
    background-color: rgb(35, 32, 49);
}

.text-program-select {
    color: white;
}

.ApplyChanges {
    background-color: rgb(65, 65, 114);
}