.tema-item {
    background-color: #31353d00;
}

.tema-topo {
    background-color: rgb(58, 58, 58);
}

#search-terms {
    background-image: url('../img/welcome/searchicon-dark.png');
    background-position: 5px 4px;
    background-repeat: no-repeat;
    background-color: rgb(255 255 255 / 16%);
    border: 1px solid #211F07;
    color: darkgrey;
}

.tema-item-select {
    background-color: #2e1a1a;
}

.category-tabs-select {
    color: rgb(204, 211, 189);
}

.tema-modo-texto {
    color: rgb(211, 189, 189);
}

.tema-modo-texto-topo {
    color: rgb(255, 255, 255);
}

.tema-categoria {
    background-color: rgb(31 26 26);
}



.queue-card {
    background-color: rgb(41, 18, 18);
    border: 1px solid hsla(210, 20%, 2%, 0.226);
}

.table-striped tbody>tr:nth-child(odd)>td,
.table-striped tbody>tr:nth-child(odd)>th {
    background-color: rgb(80, 82, 75);
}

.nav-pills>.active>a,
.nav-pills>.active>a:hover,
.nav-pills>.active>a:focus,
.nav-pills>.active>button,
.nav-pills>.active>button:hover,
.nav-pills>.active>button:focus {
    color: var( --selected_text);
    background-color: #1c6de1;
    border-color: rgb(255, 255, 255);
}

.dropdown-menu {
    background-color: #42434e;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}


.navigation-button:hover {
    color: #c5c2c2;
}

.navigation-button:focus {
    border-color: rgb(255, 255, 255);
    /* border-radius: 32px; */
}

.navigation-button:active {
    background-color: #1d2127;
    /*border-radius: 32px; */
    color: #fff;
}

.navigation-button.active {
    background-color: #1c6de1;
    border-radius: 32px;
}

#pref-table>tbody>tr>td>button {
    color: rgb(168, 148, 148);
    text-decoration: none;
}

.installed-check {
    color: #62af74;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    margin-top: -5px;
}

.not-installed-check {
    color: #746a6a;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    margin-top: -5px;
}

.install-check {
    color: #615ac2;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    margin-top: -5px;
}

.box-apps-info {
    float: left;
    background-color: rgb(32, 27, 49);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    
    background-blend-mode: overlay;
}

.button-command-install {
    border-color: rgb(58, 58, 58);
}

.queue-card>.status {
    color: #8ec2a4;
}

.queue-card>.status>.drop {
    color: rgb(211, 108, 108);
}

.table-hover tbody tr:hover>td,
.table-hover tbody tr:hover>th {
    background-color: rgb(41, 28, 28);
}

.tema-search-name {
    color: rgb(236, 226, 226);
}

::-webkit-scrollbar-track {
    background: #5c5252;
}

::-webkit-scrollbar-thumb {
    background: #d3d3d3;
}

.dropdown-filter-button {
    background-color: #000000c7;
}

.button-select-filter{
    border-color: #8ea093;
    color: rgb(194, 175, 175);
}

header {
    box-shadow: 0px -8px 25px #000000;
    background: #2c2d38;
    }

    .menu {
        color: #a9b7d2;
    }

    .material-icons{
        color: #d8b8b8;
    }

    aside ul li a {
    color: #cdbdbd;
  }

aside ul li:hover {
    background: #806969;
    box-shadow: inset 0px 0px 77px #1f1818;
  }

  aside{
    background-color: #424244;
    
}

.category-buttons{
    color: #d8b8b8;
}

aside ul li.active {
    background-color: #806969;
}

.navigation-button-item {
    color: rgb(216, 200, 200);
}

.navigation-button-item:hover {
    color: #aea7b9;
}

.navigation-button-item:focus {
    border-color: var(--selected_bg);
}

.navigation-button-item:active {
    background-color: rgb(59, 56, 56);
    color: #fff;
}


.navigation-button-item.active {
    background-color: rgb(59, 56, 56);
}

.screenshot-content {

    
    background-color: rgb(44, 39, 63);
}